.Présentation .fa {
  padding: 20px;
  font-size: 50px;
  height: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-right: 20px;
}

.Présentation .fa:hover {
    opacity: 0.7;
}

.Présentation .fa-facebook {
  background: #3B5998;
  color: white;
}
.Présentation .fa-linkedin {
  background: #007bb5;
  color: white;
}
.Présentation .fa-github{
  background: #6A128A;
  color : white;
}
.menu{
    position: fixed;
    width: 300px;
    border-left: 3px solid black;
    background-color: #1d2021;
    background-size: 100%;
    top: 0;
    bottom: 0;
    box-shadow: 4px 4px 4px silver;
    font-family: inconsolas;
}

.menu .menuphoto{
    background-image: url("file:///home/papalouis/everysaint/HTML/CVenLigne/cvfinish4.0.jpg");
    background-size: 100%;
    width: 217px;
    height: 217px;
    margin: 15px auto 15px auto;
    border-radius: 10px;
    margin-top: 25px;
  }

.menu .overlay {
  position: absolute;
  bottom:100%;
  background-color: rgba(138, 200, 229, 0.9);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .7s ease;
}

.container:hover .overlay {
  top: 0;
  height: 26%;
}
.text {
  color: #4E4E4E;
  font-size: 17px;
  margin-top: 120px;
  margin-left: 130px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.text p:hover{
  color:red;
}
.text a{
  text-decoration: none;
  text-shadow: 1px 1px 2px black;
}
.text a:hover{
  color:#1B00C0;
  background-color: white;
}

.menu h3{
  text-align: center;
  font-size: 160%;
  color: #E4E4E4;
  background: #4E4E4E;
}
.menu .cadre{
  width: 293px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 4px;
  margin-left: 2px;
  margin-bottom: 12px;
  font-size: 17px;
}

.menu .cadre a {
  font-family: consolas;
  font-size: 160%;
  color: #fbf1c7;
  text-decoration:none;
}
.menu a {
display: inline-block;
position: relative;
z-index: 1;
padding-right: 5em;
margin-right: -5em;
}

.menu .cadre:hover {
  background-color: #6A5D47;
  transition-duration: .4s;
  cursor: pointer;
}

header h1{
  text-align: center;
  margin-left: 300px;
  color:#fbf1c7;
  font-size: 50px;
}

body{
  font-family: Helvetica;
  background-color: #4E4E4E;
  color: #E4E4E4;
  font-size: 20px;
}
body h2{
  margin-left: 30px;
  font-family: Calibri;
  font-size: 180%;
  color:#4E4E4E;
  background-color: #DBDBDB;
  margin-right: 20px;
  border-top-right-radius: 20px;
  border-top: 3px solid #3C5B6C;
}
body a{
  color : #033b4c;
  text-decoration:none;
}
body p{
  margin-left: 40px;
  text-align: justify;
  margin-right: 20px;
  line-height: 150%;
}

header img:hover{
  -webkit-transform: translate(5px, 5px);
  transform: translate(5px, 5px);
  cursor:pointer;
}

.placement {
  margin-left: 311px;
}
.placement h3{
  color:#1d2021;
}
.placement h3:hover{
    color : #E5CEA9;
    transition-duration: .4s;
}

.Présentation{
  margin-top: 5px;
  border-top: 2px solid black;
  background:rgba(245, 156, 99, 0.6);
  padding-bottom: 1px;
}
.Présentation img{
  margin-right: 60px;
  margin-left: 10px;
}

.Formation{
  margin-top: 5px;
  border-top: 2px solid black;
  background: rgba(138, 200, 229, 0.6);
  padding-bottom: 1px;
}
.Formation ul{
  list-style-type: square;
}
.Formation li:hover{
  color: #fbf1c7;
}
.Formation a:hover{
  color: white;
  transition-duration: .6s;
}
.Formation .date{
  font-size: 115%;
  font-weight: bold;
  color: #CA2525;
}


.Expérience{
  margin-top: 5px;
  border-top: 2px solid black;
  background: rgba(245, 156, 99, 0.6);
  padding-bottom: 5px;
}
.Expérience ul{
  list-style-type: square;
}
.Expérience li:hover{
  color: #fbf1c7;
}
.Expérience a:hover{
  color: white;
  transition-duration: .6s;
}
.Expérience .date{
  font-size: 115%;
  font-weight: bold;
  color: #CA2525;
}
.Expérience p{
  margin-left: 20px;
  margin-right: 30px;
}

.Langues{
  margin-top: 5px;
  border-top: 2px solid black;
  background: rgba(138, 200, 229, 0.6);
  padding-bottom: 1px;
}
.Langues .jauge {
    margin-left: 80px;
    background: #C1BB0B;
    width: 40px;
    height: 40px;
}
.Langues.jauge.in-view {
    height: 40px;
    width: 600px;
    -webkit-transition-property: width; /* Safari */
    -webkit-transition-duration: 2s; /* Safari */
    transition-property: width;
    transition-duration: 1.5s;
    margin-left: 80px;
}
.Langues .jauge:hover img{
  display:none;
}
.Langues .jauge p{
  text-align: right;
}
.Langues .jauge2 {
    width: 40px;
    height: 40px;
    background:  #F5B041;
    -webkit-transition-property: width; /* Safari */
    -webkit-transition-duration: 2s; /* Safari */
    transition-property: width;
    transition-duration: 1.5s;
    margin-left: 80px;
    margin-bottom: 30px;
}
.Langues .jauge2:hover {
    width: 300px;
}
.Langues .jauge2:hover img{
  display: none;
}
.Langues .jauge2 p{
  text-align: right;
}
.Langues h3{
  margin-left: 80px;
  color: black;
}

.Compétences{
  margin-top: 5px;
  border-top: 2px solid black;
  background: rgba(245, 156, 99, 0.6);
  padding-bottom: 1px;
}
.Compétences ul{
  list-style-type: square;
}
.Compétences li:hover{
  color: #fbf1c7;
}
.Compétences a:hover{
  color: white;
}
.Compétences p{
  margin-left: 20px;
  margin-right: 30px;
}
.Compétences img{
  margin-right: 60px;
}


.Passions{
  margin-top: 5px;
  border-top: 2px solid black;
  background: rgba(138, 200, 229, 0.6);
  padding-bottom: 1px;
}
.Passions ul{
  list-style-type: square;
}
.Passions li:hover{
  color: #fbf1c7;
}
.Passions a:hover{
  color: white;
}
.Passions p{
  margin-left: 20px;
  margin-right: 30px;
}
.Passions .img{
  text-align : center;
}
.Passions .img img{
  margin-right: 100px;
}
.Passions .fa{
  font-size: 120px;
  color:black;
  margin-right: 100px;
}
.Passions .sm{
  text-align: left;
}

.OrientationO{
  margin-top: 5px;
  border-top: 2px solid black;
  background: rgba(245, 156, 99, 0.6);
  padding-bottom: 1px;
}
